@import "./base.scss";
.Home{
  @extend %common-page;
  display: flex;
  flex-direction: column;
  align-items: center;
  .heading{
    @extend %common-heading;
  }
  .content{
    @extend %common-content;
    @extend %fade-in;
  }
}